
<div class="row">
	<div class="col-md-6">
		
		<div class="row constantes-title">
			<div class="col-md-12" style="padding-right:0px;">
				<div class="header-logo-container">
					<img class="img-responsive" src="images/logo-bcg.png"/>
				</div>
				<div class="header-info-container">
					<h1>Vital Constants</h1>&nbsp;&nbsp;&nbsp;&nbsp;
					<h2>Los Angeles</h2>&nbsp;&nbsp;&nbsp;&nbsp;
					<span class='text-small'>
						powered by
					</span>
					<div class="header-vendor-logo">
						<img src="images/logo-bbva.png" class="img-responsive"/>
					</div>
					<div class="header-hour-container">
						<h4>{{ cDay }}</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-md-offset-4 col-xs-offset-7" style="position:absolute;">
				<!-- Titulo -->
			
				<div class="row">
	  			<div class="col-md-12">
	  				<center>
				  		<span class="metrics-title">
				  			Patio activity level
				  		</span>
				  	</center>
			  	</div>
		  	</div>

		  	<wait-clock
		  		time="metrics.esperaCafeteria"
		  		colors='{{ ["#177B57","#EDBC3E","#EDBC3E","#AB1D5D"] }}'
		  		height="145">
		  	</wait-clock>

			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
		
				<floor-map 
					src='images/map-boc.png'
					layer-src="images/capas-mapa/mapa-angeles-"
					layer-ext=".png"
					layer-total="22"
					occupancy='metrics.floorOcupacion'>
				</floor-map>  
			</div>

			

			<div class="col-md-4 col-gauges">


		
					<div class="col-md-12 col-xs-4 col-sm-4">
						ROOMS <br>OCCUPANCY
						<arc-gauge
							actual='metrics.ocupacion.planta3'
							height='70'
							colors='{{ ["#177B57","#EDBC3E","#AB1D5D"] }}'>
						</arc-gauge>
					</div>
			


					<div class="col-md-12 col-xs-4 col-sm-4">
						MEETING ROOMS <br>OCCUPANCY
						<arc-gauge
							actual='metrics.ocupacion.planta2'
							height='70'
							colors='{{ ["#177B57","#EDBC3E","#AB1D5D"] }}'>
						</arc-gauge>
					</div>


					<div class="col-md-12 col-xs-4 col-sm-4">
						BUILDING <br> OCCUPANCY
						<arc-gauge
							actual='metrics.ocupacion.planta1'
							height='70'
							colors='{{ ["#177B57","#EDBC3E","#AB1D5D"] }}'>
						</arc-gauge>
					</div>



			</div>
		</div>

		<div class="row free-metrics">
			<div class="col-md-12">

				<span class="metric-tag">
					Free Bathrooms 
				</span>
				
				<span class="metric-value-high">
					<i class="fa fa-female"></i>
					{{ metrics.disponibilidad.mujer[0] }}
				</span>
				<span class="metric-value-low">
					/ {{ metrics.disponibilidad.mujer[1] }}
				</span>
				
				<span class="metric-value-high">
					<i class="fa fa-male"></i>
					{{ metrics.disponibilidad.hombre[0] }}
				</span>
				<span class="metric-value-low">
					/ {{ metrics.disponibilidad.hombre[1] }}
				</span>	
				
				<span class="metric-value-high">
					<i class="fa fa-wheelchair"></i>
					{{ metrics.disponibilidad.minus[0] }}
				</span>
				<span class="metric-value-low">
					/ {{ metrics.disponibilidad.minus[1] }}
				</span>


				<span class="metric-tag">
					Free Meeting Rooms
				</span>
				<span class="metric-value-high">
					{{ metrics.disponibilidad.salas[0] }}
				</span>
				<span class="metric-value-low">
					/ {{ metrics.disponibilidad.salas[1] }}
				</span>

			</div>
		</div>

		<div class="row free-metrics">
			<div class="col-md-4">
				
				<!-- Titulo -->
				<div class="row">
	  			<div class="col-md-12">
	  				<center>
				  		<span class="metrics-title">
				  			Energy consumption
				  		</span>
			  		</center>
			  	</div>
		  	</div>
		 
		  	<electric-gauge
		  		data="metrics.costeElectrico"
		  		start-hour='9'
		  		check-every='15'
		  		last-event-tag='{ "prefix":"Last hour", "suffix":"kW/h" }'
		  		total-event-tag='{ "prefix":"Day", "suffix":"kW/h" }'
		  		cost-event-tag='{ "prefix":"Total cost", "suffix":"€", "value":0.14 }'
		  		color-active="#177B57"
		  		height="175">
		  	</electric-gauge> 

			</div>
			<div class="col-md-4">

				<div class="row">
	  			<div class="col-md-12">
			  		<span class="metrics-title">
			  			Building citizens<br><br>
			  		</span>
			  	</div>
		  	</div>

		  	<div class="row">
		  		<dotted-matrix
		  			total="metrics.asistentes.total"
		  			actual="metrics.asistentes.actual"
		  			dot-colors="{{ {'active':'#177B57'} }}"
		  			height="140"
		  			dot-radius="9"
		  			width="85%"
		  		></dotted-matrix> 
		  	</div>

			</div>
			<div class="col-md-4">

				<!-- Titulo -->
				<div class="row">
	  			<div class="col-md-12">
	  				<center>
				  		<span class="metrics-title">
				  			Twitter mentions involving two or more companies
				  		</span>
				  	</center>
			  	</div>
		  	</div>

		  	<dual-graph
	  			data="wifiData"
	  			height="145">
	  		</dual-graph>


			</div>

		</div>
		
	</div>
	<div class="col-md-6">

		<div class="row talks">
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12" style="text-align:center;">
						<h1>City</h1> <h2>vs</h2> <h1>Building</h1> <h2>vs</h2> <h3 class="square-line">{{ rooms[currentRoom].name }}</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-1">
						<i class="group-icon fa fa-clock-o"></i>
					</div>
					<div class="col-md-8" style="padding-left:0px;">
						<div class="row row-hour">
							<div class="col-md-12">


								<div class="lecture-div" ng-repeat="hour in currentHours" style="left:{{hour.position}}%;">
									{{hour.hour}}
									<div class="sep"><div></div></div>
								</div>


							</div>	

						</div>
					</div>
					<div class="col-md-3" style="padding:0px;">
						<div class="row">
							<div class="col-md-12" style="text-align:center;">
								
								<h1>{{ hour }}h</h1>
							</div>
						</div>

					</div>
				</div>
			</div>
			
		</div>
		<ul class="list-group" id="chart_container">
			<li ng-repeat='category in monitorizeData' class="list-group-item">
				<div class="row monitor-category" style="border-color:{{ category.color }}">
					<div class="col-md-1">
						<i class="group-icon" ng-class="category.icon"></i>
					</div>
					
					<div class="col-md-11" style="padding-left:0px;">
						
						<sparkline
							data="category">
						</sparkline> 
					</div>
					
				</div>
				
			</li>
	  </ul>

	  <div class="row metrics">


	  	<div class="col-md-3 col-xs-4 col-sm-4" ng-repeat="room in rooms">
	  		<div class="row">
	  			<div class="col-xs-12">
	  				{{ room.name }}
	  			</div>
	  		</div>
	  		<div class="row room-row">
	  			<div class="col-xs-12">

	  				<div class="row">
	  					<div class="col-xs-12" ng-show="room.name != rooms[currentRoom].name">
	  						{{room.metrics.light}} LUX
	  					</div>
	  					<div class="col-xs-12" ng-hide="room.name != rooms[currentRoom].name">
	  						{{monitorizeData[0].locations[0].data[monitorizeData[0].locations[0].data.length -1][1]}} LUX
	  					</div>
	  				</div>

	  				<div class="row">
	  					<div class="col-xs-12" ng-show="room.name != rooms[currentRoom].name">
	  						{{room.metrics.temperature}}˚
	  					</div>
	  					<div class="col-xs-12" ng-hide="room.name != rooms[currentRoom].name">
	  						{{monitorizeData[1].locations[0].data[monitorizeData[1].locations[0].data.length -1][1]}}˚
	  					</div>
	  				</div>

	  				<div class="row">
	  					<div class="col-xs-12" ng-show="room.name != rooms[currentRoom].name">
	  						{{room.metrics.humidity}}%	
	  					</div>
	  					<div class="col-xs-12" ng-hide="room.name != rooms[currentRoom].name">
	  						{{monitorizeData[2].locations[0].data[monitorizeData[2].locations[0].data.length -1][1]}}%	
	  					</div>
	  				</div>

	  				<div class="row">
	  					<div class="col-xs-12" ng-show="room.name != rooms[currentRoom].name">
	  						{{room.metrics.volume}} dB
	  					</div>
	  					<div class="col-xs-12" ng-hide="room.name != rooms[currentRoom].name">
	  						{{monitorizeData[3].locations[0].data[monitorizeData[3].locations[0].data.length -1][1]}} dB
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  	
	  	
	  </div>
	  

	</div>
  
</div>
